@font-face {
  font-family: 'Cindie 2';
  src: local('Cindie 2 T'), local('Cindie-2-T'), url('../fonts/Cindie2-T.woff2') format('woff2'), url('../fonts/Cindie2-T.woff') format('woff'), url('../fonts/Cindie2-T.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Electrolize';
  src: local('Electrolize'), local('Electrolize'), url('../fonts/electrolize.regular.ttf') format('truetype');
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5000;
  border-radius: 9em;
}
body {
  background: #171719;
  color: #ffffff;
  font-family: 'Electrolize';
}
nav {
  background: #171719;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #929292;
  margin-top: 5px;
}
nav .active {
  color: #ff5000;
}
#logo-container {
  font-family: 'Cindie 2';
  margin-left: 20px;
}
.sidenav-overlay {
  background-color: 'rgb(23, 23, 26, 0.5)';
  z-index: 900;
}
#nav-mobile {
  width: auto;
  background: #171719;
}
#nav-mobile .collapsible-body {
  background: #929292;
}
.dropdown-content,
.dropdown-content li.active {
  top: -64px;
  background: #171719;
}
.dropdown-content a:hover,
.dropdown-content li.active a:hover {
  background: none;
}
.dropdown-content li:hover,
.dropdown-content li.active li:hover {
  background: #929292;
}
#nav a {
  color: #ffffff;
  transition: 0.2s;
}
#nav a:hover {
  background-color: none;
  color: #ff5000;
}
.video {
  position: relative;
  height: auto;
}
.ontop {
  position: absolute;
  top: 10%;
}
.ontop h1,
.ontop h5 {
  filter: opacity(0);
  text-transform: uppercase;
  margin: 10px 0;
  animation: label 2s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.ontop h1:first-child {
  margin-top: 5vh;
  animation: label 2s linear;
  animation-fill-mode: forwards;
}
.ontop h1:last-child {
  animation: label 2s linear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  margin-bottom: 5vh;
}
.ontop h5:first-child {
  animation: label 2s linear;
  animation-fill-mode: forwards;
}
.ontop h5:last-child {
  animation: label 2s linear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.ontop a {
  margin-top: 5px;
  background: none;
  border: 1px solid #ffffff;
}
.ontop a:hover {
  background: #ff5000;
}
@keyframes label {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(100);
  }
}
section .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
section .card {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #929292;
}
section .card .card-content {
  padding: 0;
}
#resourse {
  background: url('../img/cividale-background-left.png');
  background-size: cover;
}
#resourse div:last-child {
  margin-bottom: 0px;
}
#services {
  height: auto;
}
#services h4 {
  font-family: 'Cindie 2';
  text-transform: uppercase;
}
#services .parallax {
  filter: brightness(0.6);
}
#services .valign-wrapper {
  justify-content: flex-end;
}
#services .btn-large {
  margin-top: 5px;
  background: #ff5000;
  border: 1px solid #ffffff;
}
#services .btn-large:hover {
  background: #929292;
  color: #ff5000;
  border: 1px solid #ff5000;
  font-weight: 600;
}
