@font-face {
    font-family: 'Cindie 2';
    src: local('Cindie 2 T'), local('Cindie-2-T'),
        url('../fonts/Cindie2-T.woff2') format('woff2'),
        url('../fonts/Cindie2-T.woff') format('woff'),
        url('../fonts/Cindie2-T.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Electrolize';
    src: local('Electrolize'), local('Electrolize'),
        url('../fonts/electrolize.regular.ttf') format('truetype');
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #1b1b1b;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ff5000;
        border-radius: 9em;
    }
// #c51212; первоначальный
@main-color: #ff5000;
@sec-color: #929292;
@bg-color: #171719;
@text-color: #fff;
@main-pad: 20px;
@overlay: 'rgb(23, 23, 26, 0.5)';
@font-primary: 'Cindie 2';
@font-secondary: 'Electrolize';
@bg-image: url('../img/cividale-background-left.png');
@bg-color-1: rgba(23, 23, 26, 0.8);
@bg-color-2: rgba(23, 23, 26, 0.6);

body {
  background: @bg-color;
  color: @text-color;
  font-family: @font-secondary;
}

nav {
  background: @bg-color;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid @sec-color;
  margin-top: 5px;
  & .active {
    color: @main-color;
  }
}

p {
  text-align: justify;
}

#logo-container {
  font-family: @font-primary;
  margin-left: 20px;
}

//for visible sidenav
.sidenav-overlay{
    background-color: @overlay;
    z-index: 900;
}

#nav-mobile {
  width: auto;
  background: @bg-color;
  .collapsible-body {
    background: @sec-color;
  }
}

.dropdown-content, .dropdown-content li.active  {
  top: -64px;
  background: @bg-color;
  & a:hover {
    background: none;
  }
  & li:hover {
    background: @sec-color;
  }
}

#nav{
  a{
    color: @text-color;
    transition: 0.2s;
    &:hover {
      background-color: none;
      color: @main-color;
    }
  }
}

.video {
  position: relative;
  height: auto;
}

.ontop {
  position: absolute;
  top: 10%;
  & h1, h5 {
    filter: opacity(0);
    text-transform: uppercase;
    margin: 10px 0;
    animation: label 2s linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  & h1:first-child {
    margin-top: 5vh;
    animation: label 2s linear;
    animation-fill-mode: forwards;
  }
  & h1:last-child {
    animation: label 2s linear;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    margin-bottom: 5vh;
  }
  & h5:first-child {
    animation: label 2s linear;
    animation-fill-mode: forwards;
  }
  & h5:last-child {
    animation: label 2s linear;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  & a {
    margin-top: 5px;
    background: none;
    border: 1px solid @text-color;
    &:hover {
      background: @main-color;
    }
  }
}
@keyframes label {
  from {
    filter:opacity(0);
    }
  to {
    filter: opacity(100);
  }
}

.btn-main {
  margin-top: 5px;
  background: @main-color;
  border: 1px solid @text-color;
  &:hover {
    background: @sec-color;
    color: @main-color;
    border: 1px solid @main-color;
    font-weight: 600;
  }
}

.btn-sec {
  margin-top: 5px;
  background: @sec-color;
  border: 1px solid @main-color;
  color: @main-color;
  &:hover {
    background: @main-color;
    color: @text-color;
    border: 1px solid @text-color;
    font-weight: 600;
  }
}

section {
  & .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  & .card {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid @sec-color;
    // margin: 0;
    // margin-bottom: 50px;
    & .card-content {
      padding: 0;
    }
  }
}

#resourse, #strategy {
  // & .col {
  //   margin-bottom: 50px;
  // }
  background: @bg-image;
  background-size: cover;
  & div:last-child {
    margin-bottom: 0px;
  }
}

#services, #strategy {
  & h4 {
    font-family: @font-primary;
    text-transform: uppercase;
    margin: 0;
  }
  height: auto;
  & .parallax {
    filter: brightness(0.6);
  }
  & .valign-wrapper {
    justify-content: flex-end;
  }
  // & .btn-large {
  //   margin-top: 5px;
  //   background: @main-color;
  //   border: 1px solid @text-color;
  //   &:hover {
  //     background: @sec-color;
  //     color: @main-color;
  //     border: 1px solid @main-color;
  //     font-weight: 600;
  //   }
  // }
  & ul {
    margin: 50px auto;
    & .active .collapsible-header{
      color: @text-color;
      background: @main-color;
    }
    & .collapsible-header {
      justify-content: space-between;
      transition: 0.2s;
      background: @bg-color-1;
      &:hover {
        color: @text-color;
        background: @main-color;
      }
     }
     & .collapsible-body {
      background: @bg-color-1;
     }
  }
}

#strategy {
  & .container {
    & h5 {
      margin-bottom: 50px;
      text-align: justify;
    }
    & h6 {
      font-weight: bolder;
    }
    &>div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 50px;
      &>div {
        padding: 20px 0;
        & img {
          height: 85px;
          margin-right: 30px;
          background: @main-color;
          padding: 15px;
        }
        display: flex;
        align-items: center;
      }
    }
  }
  & .container> div:last-child {
    display: flex;
  }
}

@media only screen and (max-width:992px) {
  #strategy {
    & .container {
      &>div {
        display: block;
      }
    }
  }
}
