@font-face {
  font-family: 'Cindie 2';
  src: local('Cindie 2 T'), local('Cindie-2-T'), url('../fonts/Cindie2-T.woff2') format('woff2'), url('../fonts/Cindie2-T.woff') format('woff'), url('../fonts/Cindie2-T.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Electrolize';
  src: local('Electrolize'), local('Electrolize'), url('../fonts/electrolize.regular.ttf') format('truetype');
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5000;
  border-radius: 9em;
}
body {
  background: #171719;
  color: #ffffff;
  font-family: 'Electrolize';
}
nav {
  background: #171719;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #929292;
  margin-top: 5px;
}
nav .active {
  color: #ff5000;
}
p {
  text-align: justify;
}
#logo-container {
  font-family: 'Cindie 2';
  margin-left: 20px;
}
.sidenav-overlay {
  background-color: 'rgb(23, 23, 26, 0.5)';
  z-index: 900;
}
#nav-mobile {
  width: auto;
  background: #171719;
}
#nav-mobile .collapsible-body {
  background: #929292;
}
.dropdown-content,
.dropdown-content li.active {
  top: -64px;
  background: #171719;
}
.dropdown-content a:hover,
.dropdown-content li.active a:hover {
  background: none;
}
.dropdown-content li:hover,
.dropdown-content li.active li:hover {
  background: #929292;
}
#nav a {
  color: #ffffff;
  transition: 0.2s;
}
#nav a:hover {
  background-color: none;
  color: #ff5000;
}
.video {
  position: relative;
  height: auto;
}
.ontop {
  position: absolute;
  top: 10%;
}
.ontop h1,
.ontop h5 {
  filter: opacity(0);
  text-transform: uppercase;
  margin: 10px 0;
  animation: label 2s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.ontop h1:first-child {
  margin-top: 5vh;
  animation: label 2s linear;
  animation-fill-mode: forwards;
}
.ontop h1:last-child {
  animation: label 2s linear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  margin-bottom: 5vh;
}
.ontop h5:first-child {
  animation: label 2s linear;
  animation-fill-mode: forwards;
}
.ontop h5:last-child {
  animation: label 2s linear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.ontop a {
  margin-top: 5px;
  background: none;
  border: 1px solid #ffffff;
}
.ontop a:hover {
  background: #ff5000;
}
@keyframes label {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(100);
  }
}
.btn-main {
  margin-top: 5px;
  background: #ff5000;
  border: 1px solid #ffffff;
}
.btn-main:hover {
  background: #929292;
  color: #ff5000;
  border: 1px solid #ff5000;
  font-weight: 600;
}
.btn-sec {
  margin-top: 5px;
  background: #929292;
  border: 1px solid #ff5000;
  color: #ff5000;
}
.btn-sec:hover {
  background: #ff5000;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 600;
}
section .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
section .card {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #929292;
}
section .card .card-content {
  padding: 0;
}
#resourse,
#strategy {
  background: url('../img/cividale-background-left.png');
  background-size: cover;
}
#resourse div:last-child,
#strategy div:last-child {
  margin-bottom: 0px;
}
#services,
#strategy {
  height: auto;
}
#services h4,
#strategy h4 {
  font-family: 'Cindie 2';
  text-transform: uppercase;
  margin: 0;
}
#services .parallax,
#strategy .parallax {
  filter: brightness(0.6);
}
#services .valign-wrapper,
#strategy .valign-wrapper {
  justify-content: flex-end;
}
#services ul,
#strategy ul {
  margin: 50px auto;
}
#services ul .active .collapsible-header,
#strategy ul .active .collapsible-header {
  color: #ffffff;
  background: #ff5000;
}
#services ul .collapsible-header,
#strategy ul .collapsible-header {
  justify-content: space-between;
  transition: 0.2s;
  background: rgba(23, 23, 26, 0.8);
}
#services ul .collapsible-header:hover,
#strategy ul .collapsible-header:hover {
  color: #ffffff;
  background: #ff5000;
}
#services ul .collapsible-body,
#strategy ul .collapsible-body {
  background: rgba(23, 23, 26, 0.8);
}
#strategy .container h5 {
  margin-bottom: 50px;
  text-align: justify;
}
#strategy .container h6 {
  font-weight: bolder;
}
#strategy .container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
}
#strategy .container > div > div {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
#strategy .container > div > div img {
  height: 85px;
  margin-right: 30px;
  background: #ff5000;
  padding: 15px;
}
#strategy .container > div:last-child {
  display: flex;
}
@media only screen and (max-width: 992px) {
  #strategy .container > div {
    display: block;
  }
}
